body {
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Margen automático en los ejes x (izquierda y derecha) para centrar el contenido */
    padding: 70px 0 0;
    background: #161616;
    color: #ccc;
    overflow-x: hidden;
    background-image: url('imagenes/imagen.png');
    background-size: auto;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}

.container {
    max-width: 1060px;
    margin: 40px auto; /* Margen automático en los ejes x para centrar el container */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.container h1 {
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3.2px solid #252528;
    overflow: hidden;
    margin-bottom: 5px; /* Reducir el margen inferior */
}

.profile-picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.info {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0px;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: left;
}

.info p {
    color: #ccc;
    font-size: 16px;
    margin: 0px 0;
}

.pulse {
    background-color: #171717;
    border-radius: 5px;
    padding: 5.5px;
    margin-top: 10px;
    text-align: left;
    display: inline-block;
    border: 1px #2E2E2F solid;
    outline: 1px solid #1A1A1A;
}

.availability {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.dot {
    width: 9px;
    height: 9px;
    background-color: #51af4c;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    animation: pulse 1.5s infinite;
}

.contact-icons {
    margin-top: 12px; /* Reducir el margen superior */
    display: flex;
    justify-content: center;
    gap: 15px; /* Reducir el espacio entre los iconos */
}

.contact-icons .icon {
    font-size: 1.45rem;
    color: #A0A0A9;
}

.main-content {
    max-width: 1105px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los contenedores se ajusten automáticamente */
}

.additional-container, .secondary-container {
    background-color: rgba(26, 26, 26, 0.19);
    border-radius: 10px;
    padding: 20px;
    outline: 1px solid #1A1A1A;
    border: 1px solid #2E2E2E;
    position: relative;
    width: 48%; /* Ancho del contenedor */
    flex: 48%; /* Ajusta el ancho de los contenedores */
    margin: 10px; /* Espacio alrededor de los contenedores */
    margin-bottom: 40px;
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

.secondary-container p {
    margin-bottom: 20px;
}

.additional-container h2, .secondary-container h2 {
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2px;
    text-align: left;
}

.et1 {
    background-color: #1717175c;
    border-radius: 15px;
    padding: 2px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 0.8rem;
    display: inline-block;
    border: 1px solid #2E2E2F;
    outline: 1px solid #1A1A1A;
    vertical-align: middle;
}

.text-html, .text-css {
    vertical-align: middle;
}

.icon-html, .icon-css, .icon-c {
    font-size: 0.8rem;
    color: #ffffff;
    margin-right: 5px;
    vertical-align: middle;
}

.label {
    background-color: #1717175c;
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 0.88rem;
    display: inline-block;
    border: 1px solid #2E2E2F;
    outline: 1px solid #1A1A1A;
}

.emoji-icon {
    font-size: 0.88rem;
    color: #ffffff;
    margin-right: 5px;
}

.email-button {
    background-color: #1717175c;
    border-radius: 10px;
    padding: 8px 40px;
    color: #ffffff;
    font-size: 0.8rem;
    border: 1px solid #2E2E2F;
    outline: 1px solid #1A1A1A;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    line-height: 1;
}

.email-button:hover {
    box-shadow: 0 0 1.5px 1.5px rgba(124, 124, 124, 0.788);
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(79, 175, 76, 0.7);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 3px rgba(76, 175, 80, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        margin: 20px auto;
        text-align: center;
    }
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .additional-container, .secondary-container {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .tecnologías {
        justify-content: center;
    }
}

